<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net452" />
  <package id="AForge.Vision" version="2.2.5" targetFramework="net452" />
  <package id="BigMath" version="0.5.0" targetFramework="net452" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net452" />
  <package id="Google.Apis" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Auth" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Core" version="1.21.0" targetFramework="net452" />
  <package id="Google.Apis.Drive.v2" version="1.21.0.770" targetFramework="net452" />
  <package id="log4net" version="2.0.7" targetFramework="net452" />
  <package id="MarkerMetro.Unity.Ionic.Zlib" version="2.0.0.14" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="SimpleInjector" version="3.3.2" targetFramework="net452" />
  <package id="TLSharp" version="0.1.0.233" targetFramework="net452" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net452" />
</packages>